.box {
  width: 50%;
  height: 150%;
  border: solid rgb(170, 88, 88);
  border-width: 20px;
  display: block;
  margin: auto;
  background-color: rgb(166, 212, 153);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.img {
  width: 200px;
  height: fit-content;
}

.column h3 p{
  /* columns: 20px 2;
  text-align: center;
  font-variant: small-caps;
  column-width: 20px;
  height: fit-content;
  float: left; */
  background-color: aquamarine;
}

.column2 {
  width: 200px;
  float: left;
  background-color: aquamarine;
}

.content h3 p {
  text-align: center;
  font-variant: small-caps;
}

.warning {
  color: red;
  font-weight: bold;
  font-style: italic;
  outline: black;
  outline-width: 3px;
}