.box {
  width: 600px%;
  height: 800px;
  border: solid rgb(170, 88, 88);
  border-width: 20px;
  display: block;
  margin: auto;
  background-color: rgb(166, 212, 153);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.img {
  width: 200px;
  height: fit-content;
}

.column-container{
  display: flex;
  width: 100%;
}

.column {
  flex: 1;
  padding: 15px;
  width: 200px;
  float: left;
  background-color: aquamarine;
}

.column-info {
  flex: 1;
  padding: 15px;
  width: 200px;
  float: left;
  background-color: rgb(248, 255, 185);
}

.content h3 p {
  text-align: center;
  font-variant: small-caps;
}

.warning {
  color: red;
  font-weight: bold;
  font-style: italic;
  outline: black;
  outline-width: 3px;
}

.button {
  border-radius: 0px;
  border-color: rgb(255, 123, 123);
  cursor: pointer;
  border-width: 5px;
}

.center {
  text-align: center;
  text-decoration: underline dotted;
}